<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

<connectionStrings>
  <add name="Managerment_PageEntities" connectionString="metadata=res://*/DataBase.csdl|res://*/DataBase.ssdl|res://*/DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Managerment_Page;user id=sa;password=123456;multipleactiveresultsets=True;application name=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="Managerment_PageConnectionString" connectionString="Data Source=VIETDD\SQLEXPRESS;Initial Catalog=Managerment_Page;Persist Security Info=True;User ID=sa;Password=123456"
    providerName="System.Data.SqlClient" />
</connectionStrings></configuration>
